<h1>DriveS</h1>

<h2>History</h2>

<h3><p>Established June 2015, we bring people together by creating an environment in which  people going about their daily activities can help out a fellow neighbor.</p></h3>


<h2>How It Works</h2>

<h3><p>A person with a car who is going to a local store or metro can offer surrounding neighbors a ride for a nominal fee.</p></h3>
